repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
    -   id: black
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.1.6'
    hooks:
    -   id: ruff
-   repo: https://github.com/prettier/prettier
    rev: '3.1.0'
    hooks:
    -   id: prettier
-   repo: https://github.com/eslint/eslint
    rev: 'v8.54.0'
    hooks:
    -   id: eslint