version: '3.8'

services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: tribi
      MYSQL_USER: tribi
      MYSQL_PASSWORD: tribi
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql

  mailhog:
    image: mailhog/mailhog
    restart: always
    ports:
      - '1025:1025'
      - '8025:8025'

volumes:
  db_data: